@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>区域经济知识产权分析系统-首页</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">
    <link href="../../style/index.css" rel="stylesheet" type="text/css" />
    <link href="../../style/base.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body{
	background: #fff url(../../img/welcome-bg.jpg) no-repeat center 40%;
}
@@media all and (max-width: 1500px){
	body{
		background-size: 80%;
	}
}
.divIframe{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
-->
</style>
</head>

<body>




</body>
</html>
