@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>QY_Unit</title>  
    <link href="../../style/base.css" rel="stylesheet" type="text/css" />
    <link href="../../style/divIframe.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.9.0.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.tmpl.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.paginate.js" type="text/javascript"></script>
    <link href="../../style/style.css" rel="stylesheet" type="text/css" />
    <script type="text/x-jquery-tmpl" id="trTemp">
    <tr>
        <td>${ID}</td>
        <td>${Name}</td>
        <td><a href="javascript:DoDel(${ID})">删</a></td>
    </tr>
    </script>
    <script type="text/javascript">
        $(function () {
            $("#btn").click(Add);
            LoadPage(1);
        });
        function Add() {
            var data = $("#f1").serialize();
            $.post("/Add_QYData/AddQY_Unit",data, function (jsobj) {
                alert(jsobj.msg);
                window.location.reload();
            }, "json");
        }
        function DoDel(ID) {
            if (!confirm("您确定要删除?")) return;
            $.post("/Add_QYData/DelQY_Unit", "ID=" + ID, function (jsobj) {
                alert(jsobj.msg);
                window.location.reload();
            }, "json");
        }
        function LoadPage(PageIndex) {
            $.getJSON("/Add_QYData/LoadQY_Unit/" + PageIndex, null, function (jsobj) {
                $("#tbList tr:gt(0)").remove();
                $("#pager").paginate({
                    count: jsobj.PageCount,
                    start: jsobj.PageIndex,
                    display: 3,
                    border: true,
                    text_color: '#79B5E3',
                    background_color: 'none',
                    text_hover_color: '#2573AF',
                    background_hover_color: 'none',
                    images: false,
                    mouse: 'press',
                    onChange: function (page) { LoadPage(page); }
                });
                $("#trTemp").tmpl(jsobj.PagedData).appendTo("#tbList");
            });
        }
    </script>
</head>
<body>
    <!--  formDetail  -->
    <div class="formDetail oh">
    	<h1>区域添加-单位添加</h1>
    	<div class="clear"></div>
        
        <form id="f1">
        <table>
        	<tr>
            	<th>单位名称</th>
                <td><input id="unit" name="unit" type="text" /></td>
            </tr>
        </table>
        <div class="clear"></div>
        
        <div class="formBtn oh">
            <img id="btn" type="button" value="添加" src="../../img/btn-add-data.png" />
        </div>
        </form>
        
    </div>
    <!--  formDetail end  -->
    <div class="clear"></div>
          <!--  formContent  -->
	<div class="formContent oh">
		
        <h1>单位列表</h1>
        <table id="tbList" class="tc">
        	<thead>
            	<tr>
        			<td>ID</td>
        			<td>单位名称</td>
                    <td>操作</td>
        		</tr>
            </thead>
        </table>
        <div id="pager"></div>
 
    </div>
    <!--  formContent end  -->
    <div class="clear"></div>
   
</body>
</html>
