@charset "utf-8";
/* CSS Document */



/* ====== dateName ====== */
div.dateName{
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
}
div.dateName li.fl h1{
	font-size: 14px;
	color: #515151;
	text-indent: 40px;
}
div.dateName li.fl .edit{
	margin: 13px 0 0 10px;
}
div.dateName li.fl input[type="text"]{
	height: 18px;
	line-height: 18px;
	text-indent: 5px;
	border: 1px solid #d6d6d6;
	padding: 3px 0;
	width: 150px;
	margin-right: 5px;
}
div.dateName li.fl input[type="text"]:focus{
	width: 250px;
}
div.dateName li.fl input[type="button"],
div.dateName li.fl button{
	width: 50px;
	height: 26px;
	border: 1px solid #d6d6d6;
	background: #f2f2f2;
	color: #515151;
}



/* ====== dataContent ======== */
div.dataContent{
	padding: 20px;
}
div.dataContent div.operate img{
	margin: 0 5px;
}
/* ====== dataForm ====== */
div.dataForm{}


table.dataForm{
	width: 100%;
	border: 1px solid #d6d6d6;
	table-layout: fixed;   
}
table.dataForm td,
table.dataForm th{
	border: 1px solid #d6d6d6;
	font-weight: normal;
}
table.dataForm th{
	width: 80px;
}
table.dataForm td{
	height: 30px;  
}
table.dataForm thead th,
table.dataForm thead td{
	height: 38px;
	background: #fff url(../img/table-dataForm-thead.jpg) repeat-x 0 bottom;
	border-bottom: 1px solid #8b89b1;
}
table.dataForm thead td img{
	margin-left: 3px;
}
table.dataForm label input[type="checkbox"]{
	margin-right: 5px;
}
table.dataForm input[type="text"]{
	width: 100%;
	border: 0;
	outline: 0;
	text-align: center;
	color: #515151;
	background: transparent;
}
table.dataForm input[type="text"]:focus{
	color: #c00;
}

table.dataForm tbody tr.selected,
table.dataForm tbody tr.selected th,
table.dataForm tbody tr.selected td,
table.dataForm tbody tr:hover,
table.dataForm tbody tr:hover th,
table.dataForm tbody tr:hover td{ background-color: #f2f2f2;}
table.dataForm tbody td.second{ background-color: #E0E6F5;}
table.dataForm tbody td.third{ background-color: #F7F9DD;}
table.dataForm tbody td.fourth{ background-color: #f1e7e8;}
table.dataForm tbody td.fifth{ background-color: #fce5d8;}
table.dataForm tbody td.sixth{ background-color: #e4f8ee;}


